{% if posts %}
{% for post in posts %}
    <h3 class="text-primary"><a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h3>
    <p class="text-muted">
    {% if post.body_html %}
        {{ post.body_html | safe | striptags | truncate }}
    {% else %}
        {{ post.body | striptags | truncate }}
    {% endif %}
        <small class="text-info"><a href="{{ url_for('main.post', post_id=post.id) }}">Read more...</a></small>
    </p>
    
    <small>
        Category: <a href="{{ url_for('main.posts_by_category', category_id=post.category.id) }}">{{ post.category.name }}</a>
        <span class="float-right">{{ moment(post.timestamp).format('LL') }}</span>
    </small>
    
    {% if not loop.last %}
        <hr>
    {% endif %}
{% endfor %}
{% else %}
    <div class="tip">
        <h5>No post yet.</h5>
    </div>
{% endif %}