{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block app_content %}
    <div class="page-header text-center">
        <h1>{{ post.title }}</h1>
        <small>
            Category: <a href="{{ url_for('main.posts_by_category', 
            category_id=post.category.id) }}">{{ post.category.name }}</a>
            Date: {{ moment(post.timestamp).format('LL') }}
        </small>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if post.body_html %}
            {{ post.body_html | safe }}
            {% else %}
            {{ post.body | safe }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}